html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}
#page {
    width: 1200px;
    position: relative;
    margin: auto;
}
#canvasContainer, #inputContainer {
    position: absolute;
}
#canvasContainer {
    width: 1000px;
    top: 0;
    left: 0;
}
#inputContainer {
    width: 200px;
    top: 0;
    left: 1000px;
    padding-left: 15px;
}
canvas {
    display: block;
    background-color: #000000;
    border: 1px green solid;
}
input {
    width: 50px;
}