html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}
#page {
    width: 1000px;
    position: relative;
    margin: auto;
}
#canvasContainer, #inputContainer {
    position: absolute;
}
#canvasContainer {
    width: 900px;
    top: 0;
    left: 0;
}
#inputContainer {
    width: 100px;
    top: 0;
    left: 900px;
    padding-left: 15px;
}
canvas {
    display: block;
    background-color: #000000;
}
#start {
    position: fixed;
    top: 5px;
    left: 1000px;
}